html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    align-content: center;
    display: table;
    font-weight: 50;
    font-family: 'Lato', sans-serif;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 50px;
}